.pushwindowcontainer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat';
}

.pushwindowcontainer .pushwindowbg {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  z-index: 9;
  opacity: 1;
  -webkit-animation: 0.5s pushwindowbgappear ease-in-out forwards;
          animation: 0.5s pushwindowbgappear ease-in-out forwards;
}

@-webkit-keyframes pushwindowbgappear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pushwindowbgappear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.pushwindowcontainer .pushwindowbg.hiding {
  -webkit-animation: 0.5s pushwindowbgdisappear ease-in-out forwards;
          animation: 0.5s pushwindowbgdisappear ease-in-out forwards;
}

@-webkit-keyframes pushwindowbgdisappear {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes pushwindowbgdisappear {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

.pushwindowcontainer .pushwindow {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 15px;
  z-index: 10;
  width: 300px;
  -webkit-animation: 0.5s pushwindowappear ease-in-out forwards;
          animation: 0.5s pushwindowappear ease-in-out forwards;
}

@-webkit-keyframes pushwindowappear {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.3);
            transform: translate(-50%, -50%) scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes pushwindowappear {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.3);
            transform: translate(-50%, -50%) scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

.pushwindowcontainer .pushwindow.hiding {
  -webkit-animation: 0.5s pushwindowdisappear ease-in-out forwards;
          animation: 0.5s pushwindowdisappear ease-in-out forwards;
}

@-webkit-keyframes pushwindowdisappear {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.3);
            transform: translate(-50%, -50%) scale(0.3);
  }
}

@keyframes pushwindowdisappear {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.3);
            transform: translate(-50%, -50%) scale(0.3);
  }
}

.pushwindowcontainer .pushwindow.mobilemenu {
  text-align: center;
  width: 90vw;
  padding-bottom: 0;
}

.pushwindowcontainer .pushwindow.mobilemenu span {
  margin-left: 5px;
}

.pushwindowcontainer .pushwindow.mobilemenu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pushwindowcontainer .pushwindow.mobilemenu ul li {
  border-bottom: 1px solid #cecece;
  font-size: 1.5em;
  width: 100%;
}

.pushwindowcontainer .pushwindow.mobilemenu ul li:last-child {
  border-bottom: none !important;
}

.pushwindowcontainer .pushwindow.mobilemenu ul li:last-child a {
  color: #000;
}

.pushwindowcontainer .pushwindow.mobilemenu ul li a {
  display: block;
  padding: 15px;
  color: #838383;
}

.pushwindowcontainer .pushwindow.mobilemenu ul li:last-child {
  margin-bottom: 0;
}

.pushwindowcontainer .pushwindow.langmenu {
  text-align: center;
  width: 300px;
  padding-bottom: 0;
}

@media screen and (max-width: 767px) {
  .pushwindowcontainer .pushwindow.langmenu {
    width: 90vw;
  }
}

.pushwindowcontainer .pushwindow.langmenu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pushwindowcontainer .pushwindow.langmenu ul li {
  border-bottom: 1px solid #cecece;
  font-size: 1.5em;
  width: 100%;
}

.pushwindowcontainer .pushwindow.langmenu ul li:last-child {
  border-bottom: none;
}

.pushwindowcontainer .pushwindow.langmenu ul li a {
  display: block;
  padding: 15px;
  color: #838383;
}

.pushwindowcontainer .pushwindow.langmenu ul li:last-child {
  margin-bottom: 0;
}

.pushwindowcontainer .pushwindow.loginmenu {
  width: 300px;
}

@media screen and (max-width: 767px) {
  .pushwindowcontainer .pushwindow.loginmenu {
    width: 90vw;
  }
}

.pushwindowcontainer .pushwindow.loginmenu .forgot-password {
  text-align: right;
  width: 100%;
  display: block;
  color: #000;
  cursor: pointer;
  margin-bottom: 15px;
}

.pushwindowcontainer .pushwindow.loginmenu .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pushwindowcontainer .pushwindow.loginmenu .footer .login-types img {
  margin-right: 5px;
  width: 30px;
}

.pushwindowcontainer .pushwindow.loginmenu .footer .btns-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pushwindowcontainer .pushwindow.loginmenu h1 {
  text-align: center;
  margin-bottom: 15px;
}

.pushwindowcontainer .pushwindow.loginmenu .input {
  padding: 15px 20px;
  font-size: 1em;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #454545;
  border-radius: 15px;
  margin-bottom: 15px;
}

.pushwindowcontainer .pushwindow.regmenu {
  width: 300px;
}

@media screen and (max-width: 767px) {
  .pushwindowcontainer .pushwindow.regmenu {
    width: 90vw;
  }
}

.pushwindowcontainer .pushwindow.regmenu .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pushwindowcontainer .pushwindow.regmenu .footer .login-types img {
  margin-right: 5px;
  width: 30px;
}

.pushwindowcontainer .pushwindow.regmenu .footer .btns-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pushwindowcontainer .pushwindow.regmenu h1 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 15px;
}

.pushwindowcontainer .pushwindow.regmenu .input {
  padding: 15px 20px;
  font-size: 1em;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #454545;
  border-radius: 15px;
  margin-bottom: 15px;
}

.pushwindowcontainer .pushwindow .closepushwindow {
  position: absolute;
  font-size: 2.5em;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
/*# sourceMappingURL=pushwindow.css.map */